<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VisioSchemes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VisioSchemes.Properties.Settings>
            <setting name="ElbowRadius" serializeAs="String">
                <value>2.72</value>
            </setting>
            <setting name="TeeLength" serializeAs="String">
                <value>3.18</value>
            </setting>
            <setting name="MarkerDistance" serializeAs="String">
                <value>10.1</value>
            </setting>
            <setting name="MainLine" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DimensionLine" serializeAs="String">
                <value>0.24</value>
            </setting>
            <setting name="TextSize" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MarkerSize" serializeAs="String">
                <value>4.15</value>
            </setting>
            <setting name="DimensionAlign" serializeAs="String">
                <value>5.9</value>
            </setting>
            <setting name="DimensionElongation" serializeAs="String">
                <value>1.9</value>
            </setting>
            <setting name="DimensionTextElongation" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="Sensitivity" serializeAs="String">
                <value>2.72</value>
            </setting>
            <setting name="DoMarkPipes" serializeAs="String">
                <value>True</value>
            </setting>
        </VisioSchemes.Properties.Settings>
    </userSettings>
</configuration>